<header class="header">
  <h1>
    <a routerLink="/" routerLinkActive="active">
      <span>{{ title | textFormat }}</span>
    </a>
  </h1>
  <nav>
    <ul>
      <li>
        <a routerLink="/" routerLinkActive="active">Accueil</a>
      </li>
      <li>
        <a routerLink="/books/list" routerLinkActive="active">Bibliothèque</a>
      </li>
      <li>
        <a routerLink="/categories" routerLinkActive="active">Categories</a>
      </li>
      <li>
        <a routerLink="/books/add" routerLinkActive="active"
          >Ajouter un livre</a
        >
      </li>
    </ul>
  </nav>
</header>
