<style>
  button[type="submit"] {
    display: flex;
    font-family: Poppins, sans-serif;
    font-size: 15px;
    align-items: center;
    padding: 10px 20px;
    height: 30px;
    background: linear-gradient(
      90deg,
      rgba(252, 33, 13, 1) 0%,
      rgba(69, 10, 59, 1) 100%
    );
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
  }

  input {
    display: block;
    width: 100%;
    padding: 1rem;
    border: 2px solid #e0e0e0;
    border-radius: 8px;
    font-size: 1rem;
    transition: all 0.3s ease;
    margin-bottom: 1rem;
  }
  input:focus {
    outline: none;
    border-color: rgb(189, 16, 0);
    box-shadow: 0 0 0 3px rgba(63, 81, 181, 0.1);
  }

  input::placeholder {
    font-family: Poppins, sans-serif;
    color: #9e9e9e;
  }
</style>
<div class="form-container">
  <h1>Ajouter un livre</h1>
  <form [formGroup]="bookForm" (ngSubmit)="onSubmit()">
    <input type="text" formControlName="title" placeholder="Titre du livre" />
    <input type="text" formControlName="author" placeholder="Nom de l'auteur" />
    <input
      type="text"
      formControlName="description"
      placeholder="Description du livre"
    />
    <input
      type="text"
      formControlName="category"
      placeholder="Catégorie du livre"
    />
    <button type="submit">Ajouter le livre</button>
  </form>
</div>
