.book-actions button {
  font-family: Poppins, sans-serif;
}

.books-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 1rem;
}

.books-header button {
  display: flex;
  font-family: Poppins, sans-serif;
  font-size: 15px;
  align-items: center;
  padding: 20px 20px;
  height: 30px;
  background: linear-gradient(
    90deg,
    rgba(252, 33, 13, 1) 0%,
    rgba(69, 10, 59, 1) 100%
  );
  color: white;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

.add-book-button {
  padding: 0.5rem 1rem;
  background-color: #007bff;
  color: white;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

.add-book-button:hover {
  background-color: #0056b3;
}

.book-card {
  border: 1px solid #ddd;
  border-radius: 5px;
  padding: 1rem;
  margin-bottom: 1rem;
  background-color: #f9f9f9;
}

.book-info {
  margin-bottom: 1rem;
}

.book-actions {
  display: flex;
  gap: 0.5rem;
}

.details-button {
  padding: 0.5rem 1rem;
  background-color: #28a745;
  color: white;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

.details-button:hover {
  background-color: #218838;
}

.favorite-button {
  padding: 0.5rem 1rem;
  background-color: #ff9c07;
  color: white;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  display: flex;
  align-items: center;
  gap: 0.5rem;
}

.favorite-button:hover {
  background-color: #e0a800;
}

.delete-button {
  padding: 0.5rem 1rem;
  background-color: #dc3545;
  color: white;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

.delete-button:hover {
  background-color: #c82333;
}
