<div class="hero-header">
  <h1>
    Bibliotech : Votre Portail Vers un Monde<br />
    de Lecture Illimité
  </h1>
  <p>
    Découvrez Bibliotech, votre bibliothèque en ligne où chaque livre est une
    nouvelle aventure. Accédez instantanément à des milliers d'ouvrages,<br />
    où que vous soyez. Que vous aimiez les romans captivants ou les guides
    pratiques, Bibliotech vous offre<br />
    un univers de lecture infini. Rejoignez-nous et laissez-vous inspirer !
  </p>
  <button><a routerLink="/books">Ajouter un livre</a></button>
</div>
